<form action="#" method="post">
    <table>
    <% options[:read_fields].each do | label, attr| -%>
    <% entry = options[:entry][attr] -%>
<tr><th><%= label -%></th> <td><input type="text" name=<%= attr -%> value="<%= entry -%>" disabled="disabled" /></td></tr>
    <% end -%>

    <% options[:write_fields].each do | label, attr| -%>
    <% entry = options[:entry][attr] -%>
<tr><th><%= label -%></th> <td><input type="text" name=<%= attr -%> value="<%= entry -%>" /></td></tr>
    <% end -%>
    <!-- Add Password Attrs  -->
    <tr><th>Password</th><td><input type="password" name="userPassword" /></td></tr>
    <tr><th>Confirm Password</th><td><input type="password" name="confirmPassword" /></td></tr>  
   
    <tr><td>&nbsp;</td><td>
    <input type="submit" value="Update" />
&nbsp;&nbsp;<a href="index.rb?action=logout" id="logout">Logout</a> </td></tr>
    </table>
    <input type="hidden" name="action" value="update">
</form>
